*{
  border: 0;
  margin: 0;
  padding: 0;
}

body{
	margin: 0 auto;
  z-index: 1;
}

div {
    display: block;
}

	
h1{
  font-size: 7em;
  color: white;
  margin: 0.15em 0.75em 0 0;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-orientation: upright;
  -webkit-animation: mymove 1s ; /* Chrome, Safari, Opera */
    animation: mymove 1s ;
   /* -webkit- animation-delay: 2s;
    animation-delay: 2s;*/
   -webkit- animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}


@-webkit-keyframes mymove {
	 10% {text-shadow: .1px .1px black;}
    20% {text-shadow: .2px .2px black;}
    30% {text-shadow: .3px .3px black;}
    40% {text-shadow: .5px .5px black;}
    50% {text-shadow: .7px .7px black;}
    60% {text-shadow: .9px .9px black;}
    70% {text-shadow: 1.2px 1.2px black;}
    80% {text-shadow: 1.3px 1.3px black;}
    90% {text-shadow: 1.4px 1.4px black;}
    100% {text-shadow: 1.5px 1.5px black;}
}


@keyframes mymove {
   10% {text-shadow: .1px .1px black;}
    20% {text-shadow: .2px .2px black;}
    30% {text-shadow: .3px .3px black;}
    40% {text-shadow: .5px .5px black;}
    50% {text-shadow: .7px .7px black;}
    60% {text-shadow: .9px .9px black;}
    70% {text-shadow: 1.2px 1.2px black;}
    80% {text-shadow: 1.3px 1.3px black;}
    90% {text-shadow: 1.4px 1.4px black;}
    100% {text-shadow: 1.5px 1.5px black;}
}

.billboard{
	height: 44rem;
	background: white;
	background-image: url(images/l_torso4.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 5rem;
	background-size: cover;
}


.vidDiv{
  position: relative;
  height: 18rem;
  letter-spacing:50px;
}

.vidText{
  position: absolute;
  top: 20px;
  left: 100px;
  font-size: 7em;
  margin: 1rem;
  color: crimson;
  text-shadow: 1.5px 1.5px black;
}

video {
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(2px);
    overflow: none;
}

.about{
  background: crimson;
  color: white;
  height: 32rem;
  text-align: center;
  font-size: 2.4em;
  padding:3rem;
}

h2{
  font-size: 1.1em;
}

.title::before{
  content: url(images/ljcrown1.png);
}

.title::after{
  content: url(images/ljcrown1.png);
}

.summary_pivot_point{
  height: 40rem;
  position: relative;
  perspective: none;
}

.summary{
	height: 100%;
  position: absolute;
  /*-webkit-transform-style: preserve-3d; 
  -webkit-transform: rotateY(60deg); 
  transform-style: preserve-3d;
  transform: rotateY(60deg);*/
/*  font-size: 2.5em;*/
  padding: 3rem;

}

.section_0{
  height: 30rem;
  overflow: hidden;
  z-index: -8;
}

.section_a{
  height: 30rem;
  background-image: url(images/l_logo.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 5rem;
  background-size: contain;
}

.section_a img{
  position: fixed;
}

.card{
  padding: 2rem;
  height: 30rem;
  background-image: url(images/heat_logo2.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 5rem;
  background-size: contain;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 22rem;
  height: 30rem;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  background-image: url(images/lj_drive_heat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
   border: 3px solid black;
   font-size: 3em;
   color: crimson;
   text-align: center;
}

.front p{
  margin: 20rem 2rem 2rem 2rem;
  border: 5px solid crimson;
  background: rgba(255,255,255, 0.7)
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  padding: 1px;
   border: 3px solid crimson;
}

.tweets{
  color:crimson;
  height: 30rem;
  text-align: center;
  font-size: 2.4em;
  background-image: url(images/suit.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

   @media screen and (max-width: 700px) {

         .billboard{
            height: 22rem;
          }

          h1{
            font-size: 3em;
          }

          .vidDiv{
            position: relative;
            height: 22rem;
            letter-spacing:10px;
          }

          .vidText{
            font-size: 3em;
            -webkit-writing-mode: vertical-lr;
            -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
            text-orientation: upright;
            padding-left: 6rem;
          }

          .about{
            background: crimson;
            color: white;
            height: 22rem;
            text-align: center;
            font-size: 1.4em;
            padding:3rem;
          }

          h2{
            font-size: 1.1em;
          }

          .title::before{
            content: url(images/ljcrown1.png);
            display: block;
            margin: 1rem;
          }

          .title::after{
            content: url();
          }

          .card{
            padding: 2rem;
            height: 30rem;
            background: white;
          }

          .flip-container, .front, .back {
            width: 17rem;
            height: 27rem;
          }

          /* front pane, placed above back */
          .front {
           font-size: 1.6em;
           color: black;
           text-align: center;
          }

          .front p{
            margin: 10rem 1rem 1rem 1rem;
            border: 1px solid crimson;
            background: rgba(255,255,255, 0.7)
          }

          /* back, initially hidden pane */
          .back {
            transform: rotateY(180deg);
            padding: 1px;
             border: 3px solid crimson;
             font-size: 1em;
          }




           
}


